[tools]
golang = "1.25.6"

[tasks.lint]
description = "Lint all ebuilds"
run = ["cd .tools; mise run build", ".tools/bin/elint"]

[tasks.update]
description = "Update all ebuilds"
run = ["cd .tools; mise run build", ".tools/bin/updater"]
