[Desktop Entry]
Name=1Password
Exec=/usr/bin/1password --enable-features=UseOzonePlatform --ozone-platform-hint=auto %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;